<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="allas_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <allas_gui.Properties.Settings>
            <setting name="nagativeTimestampSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fpsGuessingSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noSplitingSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="speedOptSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closeCMDSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splitPenalitSetting" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="intervalSetting" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="subsLikeVideoSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="replaceSubsSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedLanguageCodeSetting" serializeAs="String">
                <value>0</value>
            </setting>
        </allas_gui.Properties.Settings>
    </userSettings>
</configuration>